<label for="footerList">NEWS</label>
<ul id="footerList">
  <li><span>UPCOMING</span>
    Artist in Residence at Schloss Balmoral ⁄ GER</li>
  <li><span>SOON</span>
    <ul>
      <li>group show MODUS OPERANDI at Rianne Groen, Rotterdam ⁄ NL</li>
      <li>Artist in Residence + solo exhibition at BB15, Linz ⁄ AUT</li>
      <li>book presentation at BB15, Linz ⁄ AUT</li>
    </ul>
  </li>
  <li><span>OUT NOW</span>
    artist book WHAT IF A COUNTER PROOF MAKES ANY PROOF AN ILLUSION?
      Published by Fotohof Salzburg ⁄ AUT (information + edition)
  </li>
</ul>
<label for="archive">ARCHIVE</label>
<ul id="archive">
  <li><span>AUGUST 2016</span>
    group show HOW THINGS SHOULDNˈT BE DONE at Clement & Schneider, Bonn ⁄ DE
  </li>
  <li><span>JULY 2016</span>
    brain connecting psy-interference as part of NOVEMBER ZOMER, Rotterdam ⁄ NL
  </li>
  <li>
    <span>JUNE 2016</span>
    <ul>
      <li>
        book presentation at TENT ⁄ Rotterdam
      </li>
      <li>
        HE FUTURE IS TOO EMPTY TO INHABIT as part of Charlois Speciaal ⁄ Rotterdam
      </li>
    </ul>
  </li>
</ul>
<pre>
TEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXTTEXT
TEXT

</pre>
