html {
  width: 99.9vw;
  height: 99.9vh;
  margin: 0;
  background-color: #000000;
  font-family: monospace;
  color: #2DC200;
  text-shadow: 1px 1px #1F8A19;
  position:absolute;
}

body, ul, nav {
  height:100%;
}


body {
  width: 100%;
  position: absolute;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 5%;
  z-index: 100;
}

#textColor {
  display: none;
}

.comments {
  color: rgba(00,255,255,1);
}

nav {
  position: absolute;
  width: 100%;
  overflow-x: visible;
}

#menu {
  position: fixed ;
  list-style-type: none;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  padding: 0;
  overflow-x: auto;
}

::-webkit-scrollbar {
    display: none;
}

#menu>li {
  margin: 0;
  width: 100%;
  max-height: 70%;
}


#menu>li:nth-child(odd):before {
  padding:0;
  margin-right: 1%;
  content: attr(data-attr);
}

#menu>li:hover {
  cursor: crosshair;
}

#content {
  position:absolute;
  min-width:100%;
  height:100%;
  top:5%;
}

#main {
  height: 70%;
  cursor: text;
}

#selected {

}

article, .content {
  position: relative;
  background-color: #222222;
  display: none;
  overflow-y: auto;
}


pre {
  margin:0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
  overflow-x: visible;
  /*border-right: 1px solid #ffffff;*/
}

pre::selection {
  background-color: rgba(00,255,255,1);
  text-shadow: none;
  color:#000000;
}


/* WORKS CLASSES */

#works {
  /*display: table;*/
  height:70%;
}

#works-container {
  height:100%;
  /*width:100%;*/
  display:flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
}

.single-works {
  display: flex;
  min-width: 100%;
  max-height: 100%;
  height: 100%;
}

image-container label {
  z-index:100;
  height:10%;
  text-align:left;
  display:block;
}

image-container {
  display:inline-block;
  min-width: 100%;
  max-width: 100%;
  background-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  text-align:center;
}

image-container {
  content: '';
  display:inline-block;
  vertical-align: middle;
  height:100%;
}

image-container img {
  position: relative;
  display:block;
  margin:auto;
  max-height:90%;
  max-width:100%;
  vertical-align: middle;
}

.arrowNext {
  display: inline-flex;
  height:20%;
  right:0;
  position: absolute;
  width:10%;
  background-color: yellow;
  z-index:10;
}

.arrowPrev {
  display: inline-flex;
  height:20%;
  left:0;
  position: absolute;
  width:10%;
  background-color: yellow;
  z-index:10;
}




#news {
  display: block;
  position: fixed;
  bottom: 0;
  height:20%;
  width:100%;
  color: #7B1626;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* pure style classes,
 no content */
.ohide {
  overflow-y: hidden;
}

@media screen and (max-width: 420px) {
    body {
        background-color: lightgreen;
    }
    image-container img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
